}

body{
    background-color: #000000;
    color: #FFFFFF;
    background-color: white;
    border-radius: 10px;
}
header{
    background-color: gainsboro;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px 10px 0;
    text-align: center;
}
main{
    background-color: gainsboro;
    color: black;
    padding: 0px 10px 10px 0; 
    background-color: black;
    color: white;
    padding: 20px; 
    text-align: center; 
}
footer{
    background-color: gainsboro;
    color: black;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border-radius: 0 0 10px 10px;
    text-align: right;
    font-size: 8px;
}
